<div class="flex center column">
    <mat-card style="width: 700px;margin-bottom: 30px;align-items: center;justify-content: space-between;" class="flex">
        <div>
            Hi <span class="bold">{{user}}</span>
        </div>
        <div>
            Session expiring in <span class="bold">{{sessionTime}}</span> sec
            <button mat-button color="primary" type="button" (click)=logout()>Logout</button>
        </div>
    </mat-card>
    <div>
        <mat-card style="width: 700px;">
            <mat-card-content class="">
                <h1>My Todos</h1>
                <form [formGroup]="form" (ngSubmit)="createTodo()" class="center">
                    <div style="margin-bottom: 15px;" class="flex">
                        <mat-form-field appearance="outline" class="full">
                            <mat-label>Todo Name</mat-label>
                            <input type="text" matInput placeholder="User name" formControlName="name" />
                        </mat-form-field>
                        <button type="submit" style="width: 52px;height: 52px;" mat-stroked-button color="accent">
                            <mat-icon>done_all</mat-icon>
                        </button>
                    </div>
                </form>

                <mat-list>
                    <div mat-subheader>Todos</div>
                    <div *ngFor="let todo of todos">
                        <mat-list-item>
                            <div mat-line>{{todo.name}}</div>
                            <button (click)="deleteTodo(todo.id)" type="button" mat-icon-button color="warn"
                                aria-label="Delete todo">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider> -->
                    </div>
                    <div *ngIf="todos.length ===0">
                        No todos found
                    </div>

                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>